@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fqkxvd');
  src:  url('fonts/icomoon.eot?fqkxvd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fqkxvd') format('truetype'),
    url('fonts/icomoon.woff?fqkxvd') format('woff'),
    url('fonts/icomoon.svg?fqkxvd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.volume-high:before {
  content: "\ea26";
}
.volume-muted:before {
  content: "\ea29";
}

