@import url(https://fonts.googleapis.com/css?family=Montserrat:400);
body {
  background-color: #3b3a36;
  font-family: 'Montserrat', sans-serif; }

#clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 320px; }
  #clock .item {
    position: absolute;
    transition: transform 0.3s cubic-bezier(0.4, 2.08, 0.55, 0.44);
    border-radius: 2px; }
    #clock .item.hours {
      height: 50px;
      width: 6px;
      bottom: 50%;
      left: 50%;
      margin-left: -3px;
      background-color: #e9ece5;
      transform-origin: bottom center;
      z-index: 3; }
      #clock .item.hours:after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: -7px;
        height: 20px;
        width: 20px;
        background-color: #e9ece5;
        z-index: 2;
        border-radius: 50%; }
    #clock .item.minutes {
      height: 90px;
      width: 4px;
      bottom: 50%;
      left: 50%;
      margin-left: -2px;
      background-color: #6ed3cf;
      transform-origin: bottom center;
      z-index: 4; }
      #clock .item.minutes:after {
        content: "";
        position: absolute;
        bottom: -7.5px;
        left: -5.5px;
        height: 15px;
        width: 15px;
        background-color: #6ed3cf;
        z-index: 2;
        border-radius: 50%; }
    #clock .item.seconds {
      height: 40%;
      width: 2px;
      bottom: 50%;
      left: 50%;
      margin-left: -1px;
      background-color: #e62739;
      transform-origin: bottom center;
      z-index: 5; }
      #clock .item.seconds:before {
        content: "";
        position: absolute;
        background-color: #e62739;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        top: -5px;
        left: -4px; }
      #clock .item.seconds:after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 1px;
        transform: translate(-50%, -50%);
        height: 10px;
        width: 10px;
        background-color: #e62739;
        z-index: 2;
        border-radius: 50%; }
  #clock .numbers {
    position: relative;
    color: #e9ece5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 2.2em;
    margin: 0;
    padding: 0; }
    #clock .numbers .number {
      position: absolute;
      line-height: 1; }
    #clock .numbers .one {
      top: 5%;
      right: 22.5%; }
    #clock .numbers .two {
      top: 22%;
      right: 7%; }
    #clock .numbers .tree {
      top: 50%;
      transform: translate(0, -50%);
      right: 0; }
    #clock .numbers .four {
      bottom: 22%;
      right: 7%; }
    #clock .numbers .five {
      bottom: 5%;
      right: 22.5%; }
    #clock .numbers .six {
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0); }
    #clock .numbers .seven {
      bottom: 5%;
      left: 22.5%; }
    #clock .numbers .eight {
      bottom: 22%;
      left: 7%; }
    #clock .numbers .nine {
      top: 50%;
      transform: translate(0, -50%);
      left: 0; }
    #clock .numbers .ten {
      top: 22%;
      left: 5%; }
    #clock .numbers .eleven {
      top: 5%;
      left: 22.5%;
      transform: translate(-25%, 0); }
    #clock .numbers .twelve {
      top: 0;
      left: 50%;
      transform: translate(-50%, 0); }
  #clock .indicator {
    position: absolute;
    font-family: 'icomoon' !important;
    color: #e9ece5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 80px;
    display: block; }
    #clock .indicator #volume {
      position: absolute;
      display: block;
      font-size: 7em;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 1s;
      z-index: 777; }

/*# sourceMappingURL=style.css.map */
