
@import url(https://fonts.googleapis.com/css?family=Montserrat:400);
$main-color: #3b3a36;
$primary-color: #e9ece5;
$highlight-color: #e62739;
$secondary-color: #6ed3cf;
body {
  background-color: $main-color;
  font-family: 'Montserrat', sans-serif;
}
#clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 320px;
  height: 320px;
  .item {
    position: absolute;
    transition: transform 0.3s cubic-bezier(.4,2.08,.55,.44);
    border-radius: 2px;
    &.hours {
      height: 50px;
      width: 6px;
      bottom: 50%;
      left: 50%;
      margin-left: -3px;
      background-color: $primary-color;
      transform-origin: bottom center;
      z-index: 3;
      &:after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: -7px;
        height: 20px;
        width: 20px;
        background-color: $primary-color;
        z-index: 2;
        border-radius: 50%;
      }
    }
    &.minutes {
      height: 90px;
      width: 4px;
      bottom: 50%;
      left: 50%;
      margin-left: -2px;
      background-color: $secondary-color;
      transform-origin: bottom center;
      z-index: 4;
      &:after {
        content: "";
        position: absolute;
        bottom: -7.5px;
        left: -5.5px;
        height: 15px;
        width: 15px;
        background-color: $secondary-color;
        z-index: 2;
        border-radius: 50%;
      }
    }
    &.seconds {
      height: 40%;
      width: 2px;
      bottom: 50%;
      left: 50%;
      margin-left: -1px;
      background-color: $highlight-color;
      transform-origin: bottom center;
      z-index: 5;
      &:before {
        content: "";
        position: absolute;
        background-color: $highlight-color;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        top: -5px;
        left: -4px;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 1px;
        transform: translate(-50%,-50%);
        height: 10px;
        width: 10px;
        background-color: $highlight-color;
        z-index: 2;
        border-radius: 50%;
      }
    }
  }
  .numbers{
    position: relative;
    color: $primary-color;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 2.2em;
    margin: 0;
    padding: 0;
    .number {
      position: absolute;
      line-height: 1;
    }
    .one {
      top: 5%;
      right: 22.5%;
    }
    .two {
      top: 22%;
      right: 7%;
    }
    .tree {
      top: 50%;
      transform: translate(0,-50%);
      right: 0;
    }
    .four {
      bottom: 22%;
      right: 7%;
    }
    .five {
      bottom: 5%;
      right: 22.5%;
    }
    .six {
      bottom: 0;
      left: 50%;
      transform: translate(-50%,0);
    }
    .seven {
      bottom: 5%;
      left: 22.5%;
    }
    .eight {
      bottom: 22%;
      left: 7%;
    }
    .nine {
      top: 50%;
      transform: translate(0,-50%);
      left: 0;
    }
    .ten {
      top: 22%;
      left: 5%;
    }
    .eleven {
      top: 5%;
      left: 22.5%;
      transform: translate(-25%,0);
    }
    .twelve {
      top: 0;
      left: 50%;
      transform: translate(-50%,0);
    }
  }
  .indicator {
    position: absolute;
    font-family: 'icomoon' !important;
    color: $primary-color;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 80px;
    width: 80px;
    display: block;
    #volume {
      position: absolute;
      display: block;
      font-size: 7em;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      transition: all 1s;
      z-index: 777;
    }
  }
}